---
layout: archive
title: "Projects"
permalink: /projects/
---

<section>
  <h1>Medical</h1>
    {% for project in site.projects %}
        {% if project.domain == "Medical" %}
          {% include archive-project.html type="grid" %}
        {% endif %}
    {% endfor %}
</section>


<section>
  <!--- TODO: Improve separation of sections -->
  <br><br><br><br><br><br><br>
  <h1>Theoretical</h1>
    {% for project in site.projects %}
        {% if project.domain == "Theoretical" %}
          {% include archive-project.html type="grid" %}
        {% endif %}
    {% endfor %}
</section>

<section>
  <!--- TODO: Improve separation of sections -->
  <br><br><br><br><br><br><br>
  <h1>Philosophical</h1>
    {% for project in site.projects %}
        {% if project.domain == "Philosophical" %}
          {% include archive-project.html type="grid" %}
        {% endif %}
    {% endfor %}
</section>