---
layout: archive
title: "Softwares"
permalink: /softwares/
---

<section>
  <h1>In Development</h1>
    {% for software in site.softwares %}
        {% if software.status == "In Development" %}
          {% include archive-software.html type="grid" %}
        {% endif %}
    {% endfor %}
</section>


<section>
  <!--- TODO: Improve separation of sections -->
  <br><br><br><br><br><br><br>
  <h1>Maintained</h1>
    {% for software in site.softwares %}
        {% if software.status == "Maintained" %}
          {% include archive-software.html type="grid" %}
        {% endif %}
    {% endfor %}
</section>

<section>
  <!--- TODO: Improve separation of sections -->
  <br><br><br><br><br><br><br>
  <h1>Unmaintained</h1>
    {% for software in site.softwares %}
        {% if software.status == "Unmaintained" %}
          {% include archive-software.html type="grid" %}
        {% endif %}
    {% endfor %}
</section>