{% comment %}<!-- Based on archive-single.html -->{% endcomment %}
{% if project.logo %}
  {% capture teaser %}{{ project.logo}}{% endcapture %}
{% endif %}

{% if project.id %}
  {% assign title = project.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = project.title %}
{% endif %}

<div class="grid-project__item" > <!-- grid-project__item -->
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <article class="archive__item-teaser_colour">
      <a href="{{ project.url | relative_url }}" rel="permalink">
        <img src="{{ teaser | relative_url }}" alt="">
      </a>
      </article>
    {% endif %}
    <h4 class="archive__item-title" style="margin: 1px auto; text-align: center; display:block;" itemprop="name">
      {% if project.link %}
        <a href="{{ project.link }}">{{ title }}</a> <a href="{{ project.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ project.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h4>
  </article>
</div>