{% if project.header.logo %}
  {% capture logo %}{{ project.header.logo }}{% endcapture %}
{% else %}
  {% assign logo = site.logo %}
{% endif %}

{% if project.id %}
  {% assign title = project.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = project.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item"  style="height:300px;width:300px;>
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and logo %}
      <div class="archive__item-logo">
        <img src="{{ logo | relative_url }}" alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if project.link %}
        <a href="{{ project.link }}"  style="margin:1px auto; text-align:center; display:block; width:300;">{{ title }}</a> <a href="{{ project.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ project.url | relative_url }}" rel="permalink"  style="margin:1px auto; text-align:center; display:block; width:300;">{{ title }}</a>
      {% endif %}
    </h2>
  </article>
</div>
