{% comment %} Variable "person" defined in _layouts/person.html or _layouts/publication.html {% endcomment %}
<div itemscope itemtype="https://schema.org/Person">

  {% if person.avatar %}
    <div class="author__avatar">
      {% if person.home %}
        <a href="{{ person.home | relative_url }}">
          <img src="{{ person.avatar | relative_url }}" alt="{{ person.name }}" itemprop="image">
        </a>
      {% else %}
        <img src="{{ person.avatar | relative_url }}" alt="{{ person.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}
  <meta itemprop="affiliation" content="King's College London">
  <meta itemprop="jobTitle" content="{{ person.position }}">

  <div class="author__content">
    {% if person.home %}
      <a href="{{ author_link }}"><h3 class="author__name" itemprop="name">{{ person.name }}</h3></a>
    {% else %}
      <h3 class="person__name" itemprop="name">{{ person.name }}</h3>
    {% endif %}
    {% if person.bio %}
      <div class="author__bio" itemprop="description">
        {{ person.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if person.location %}
        <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ person.location }}</span>
        </li>
      {% endif %}

      {% if person.email %}
        <li>
          <a href="mailto:{{ person.email }}">
            <meta itemprop="email" content="{{ person.email }}" />
            <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span class="label">{{ person.email }}</span>
          </a>
        </li>
      {% endif %}

      {% if person.uri %}
        <li>
          <a href="{{ person.uri }}" itemprop="url">
            <i class="fas fa-fw fa-link" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].website_label | default: "Website" }}</span>
          </a>
        </li>
      {% endif %}

      {% if person.twitter %}
        <li>
          <a href="https://twitter.com/{{ person.twitter }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i><span class="label">Twitter</span>
          </a>
        </li>
      {% endif %}

      {% if person.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ person.linkedin }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span class="label">LinkedIn</span>
          </a>
        </li>
      {% endif %}

      {% if person.github %}
        <li>
          <a href="https://github.com/{{ person.github }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label">GitHub</span>
          </a>
        </li>
      {% endif %}

      {% if person.links %}
        {% for link in person.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span></a></li>
          {% endif %}
        {% endfor %}
      {% endif %}

    </ul>
  </div>
</div>
