{{/* Return the preferred image for cards.
     Order:
     1. .Params.card_image.filename in the page bundle
     2. .Params.card_image.filename in assets/media
     3. default featured image helper
*/}}

{{ $resource := false }}

{{ with .Params.card_image.filename }}
  {{ $resource = ($.Resources.ByType "image").GetMatch . }}
  {{ if not $resource }}
    {{ $resource = resources.GetMatch (path.Join "media" .) }}
  {{ end }}
{{ end }}

{{ if not $resource }}
  {{ $resource = partial "blox-core/functions/get_featured_image.html" . }}
{{ end }}

{{ return $resource }}