/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #2f3e4c !default;
$text-color: #ffffff !default;
$primary-color: mix(#ffffff, $background-color, 20%) !default;
$border-color: #2f4454;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: $text-color !default;
$link-color-hover: $link-color !default;
$link-color-visited: $link-color !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
