---
layout: default
---
{% comment %}<!-- Layout based on single.html -->{% endcomment %}

<div id="main" role="main">
  {% assign person = page %}
  {% include sidebar-person.html %}

  <article class="page">
    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.name %}<h1 id="page-name" class="page__name">{{ page.name | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
        </header>
      {% endunless %}

      <section class="page__content_white">
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" %}
            </nav>
          </aside>
        {% endif %}
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>
      <br>
      {% comment %}<!-- Include project information -->{% endcomment %}
      <section>
        <h2>Projects</h2>
        {% for project in page.projects %}
          {% for site_project in site.projects %}
            {% if project == site_project.title %}
            <a href="{{ site_project.url | relative_url }}" rel="permalink"> {{ site_project.title }}</a>
            <br>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </section>


      {% comment %}<!-- Include latest publications -->{% endcomment %}
      <section>
        <h2>Publications</h2>
        {% assign authored = site.publications | where:"authors", page.name | sort: "date" | reverse %}
        {% for post in authored limit:5 %}
          {% include archive-publication.html type=page.entries_layout %}
        {% endfor %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
      </footer>
    </div>
  </article>
</div>
